.icon {
    width: 32px;
}

.mobile-hidden {
    display: table-cell;
}

.icon-col {
    width: 10%;
}

.data-col {
    width: 30%;
}

@media(max-width: 50rem) {
    .mobile-hidden {
        display: none;
    }
}